<DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<title>TicTacToe Logged Out</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

  <!-- Custom styles for this template -->
  <link href="../static/css/signUp-page.css" rel="stylesheet">

  <!-- javascript for this page -->
  <script src="../static/logIn.js"></script>

</head>
<body>
<div class="signup-form">
<h2>Successfully Logged Out</h2>
<hr>
<div class="hint-text">Want to log back in? <a href="http://130.245.170.251/userLogin">Login here</a></div>

</div>
</body>
</html>
